.table-wrapper {
  width: 100%;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 14px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.custom-table th {
  background: #e9e9e9;
  font-weight: 600;
  font-size: 14px;
}

.custom-table th:first-child {
  border-top-left-radius: 7px;
}

.custom-table th:last-child {
  border-top-right-radius: 7px;
}

.custom-table tbody td {
  font-size: 12px;
  font-weight: 500;
}

.custom-table tr:hover {
  background: #f5f5f5;
}

@media (max-width: 768px) {
  .table-wrapper {
    overflow-x: auto;
  }

  .custom-table {
    min-width: 700px;
  }
}
