# =========================
# Python / Virtual Environments
# =========================
# Standard venvs
venv/
env/
ENV/
.venv/
.env
venv.bak/
env.bak/
myenv/
backend/venv/
.env

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# pip logs
pip-log.txt
pip-delete-this-directory.txt

# =========================
# Testing / Coverage
# =========================
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache
.mypy_cache
.hypothesis

# =========================
# Django / Databases
# =========================
*.sqlite3
*.db
db.sqlite3.bak
backend/field_monitoring/db.sqlite3.bak
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.vscode/settings.json
.DS_Store

# =========================
# Node / JavaScript
# =========================
node_modules/

__pycache__/

*.pyc

db.sqlite3