:root{
  --primary-color: #457AF6;
  --secondary-color: #D9E3FB;
  --font-primary: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}