.dashboard-container {
  display: grid;
  gap: 24px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.alert-activity-container{
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  border: 1px solid #eee;
}
.alert-activity-container h3{
    font-weight: 500;
    font-size: 20px;
}
.critical-alerts-header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.critical-alerts-header h3{
    font-weight: 500;
    font-size: 16px;
}

@media (max-width: 1200px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .stats-grid {
    grid-template-columns: 1fr;
  }
}
