.auth-form-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form-card {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 32px;
  border-radius: 20px;
  border: 1px solid #CCCCCC;
}

.auth-form-logo {
  display: block;
  margin: 0 auto 16px;
  height: 68px;
}

.auth-form-card h2 {
  text-align: center;
  margin-bottom: 8px;
}

.auth-form-subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  padding: 4px 0 24px 0;
}

.forgot-password-text {
  margin: 16px 0;
  text-align: right;
  color: #2563eb;
  font-size: 14px;
  cursor: pointer;
}

.forgot-password-text:hover {
  color: #0041cc;
  font-weight: 500;
  transition: all 0.2s ease;
}
.auth-form-error-section {
  background-color: #ffe6e6;
  color: #b91c1c;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 16px;
  display: flex;
  gap: 10px;
}

.err-text{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-primary);
}

.auth-form-error-icon{
    width: 16px;
    height: 16px;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .auth-form-logo {
      height: 50px;
    }
    .auth-form-card {
        margin: 6px;
        padding: 20px;
    }
}
