.detail-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 2px solid #eee;
  padding: 12px;
}

.header-info h4{
    font-weight: 500;
    margin-bottom: 3px;
}

.header-info p{
    color: #666666;
    font-size: 14px;
    font-weight: 500;
}

.back-btn {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 8px;
  font-family: var(--font-primary);
}

.message-btn {
  background: white;
  border: 2px solid #eee;
  padding: 0 14px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  gap: 6px;
  align-items: center;
  font-family: var(--font-primary);
}

.active-assignment-card {
  background: #fff;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 2px solid #eee;
}

.active-assignment-card h3 {
  font-weight: 600;
}

.stats-row {
  display: flex;
  gap: 20px;
  margin: 15px 0;
}

.stat-box {
  background: #f4f8ff;
  padding: 14px 25px 20px 20px;
  border-radius: 8px;
  min-width: 180px;
}

.stat-box p{
    color: #666666;
    font-weight: 500;
    font-size: 14px;
}

.stat-box h2{
    margin-left: 10px;
}

.stat-box h2 span {
  font-size: 14px;
  color: #666;
}

.detail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.recent-contact-supervisor{
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 14px;
}

.recent-contact-supervisor h3{
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 12px;
}

#enumerator-contact{
    margin-bottom: 16px;
}

.info-row {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 10px;
  color: #4D4D4D;
  margin-left: 14px;
  font-size: 14px;
}

#enumerator-contact .info-row:not(:last-child) {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.supervisor-name {
  font-weight: 400;
}

.role {
  font-size: 12px;
  color: #777;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}

.view-all {
  text-align: right;
  color: #2563eb;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .detail-grid {
    grid-template-columns: 1fr;
  }

  .stats-row {
    flex-direction: column;
  }

  .detail-header {
    display: block;
  }
  .message-btn {
     margin-top: 10px;
     padding: 10px;
   }
}
